<a href="https://colab.research.google.com/github/victoriamaccari/proyecto/blob/master/Copia_de_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ACTIVIDAD GUIADA N°1

## Carga de datos

In [ ]:
#Importar librerías
# carga de datos
import pandas as pd
import io
from google.colab import files
# manipulación y visualización
import matplotlib.pyplot as plt
import numpy as np
import itertools
import seaborn as sns

In [ ]:
def upload_files (index_fields):
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    df = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')), index_col = index_fields)
    return df

In [ ]:
train = upload_files(['city', 'weekofyear', 'year'])
train.head()

Saving dengue_features_train (1).xls to dengue_features_train (1).xls
User uploaded file "dengue_features_train (1).xls" with length 287139 bytes

                     week_start_date  ...  station_precip_mm
city weekofyear year                  ...
sj   18         1990      1990-04-30  ...               16.0
     19         1990      1990-05-07  ...                8.6
     20         1990      1990-05-14  ...               41.4
     21         1990      1990-05-21  ...                4.0
     22         1990      1990-05-28  ...                5.8

[5 rows x 21 columns]

##Preproceso

In [ ]:
train.shape

(1456, 21)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1456 entries, ('sj', 18, 1990) to ('iq', 25, 2010)
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   week_start_date                        1456 non-null   object
 1   ndvi_ne                                1262 non-null   float64
 2   ndvi_nw                                1404 non-null   float64
 3   ndvi_se                                1434 non-null   float64
 4   ndvi_sw                                1434 non-null   float64
 5   precipitation_amt_mm                   1443 non-null   float64
 6   reanalysis_air_temp_k                  1446 non-null   float64
 7   reanalysis_avg_temp_k                  1446 non-null   float64
 8   reanalysis_dew_point_temp_k            1446 non-null   float64
 9   reanalysis_max_air_temp_k              1446 non-null   float64
 10  reanalysis_min_air_temp_k              1446 non-null   float64
 11  reanalysis_precip_amt_kg_per_m2        1446 non-null   float64
 12  reanalysis_relative_humidity_percent   1446 non-null   float64
 13  reanalysis_sat_precip_amt_mm           1443 non-null   float64
 14  reanalysis_specific_humidity_g_per_kg  1446 non-null   float64
 15  reanalysis_tdtr_k                      1446 non-null   float64
 16  station_avg_temp_c                     1413 non-null   float64
 17  station_diur_temp_rng_c                1413 non-null   float64
 18  station_max_temp_c                     1436 non-null   float64
 19  station_min_temp_c                     1442 non-null   float64
 20  station_precip_mm                      1434 non-null   float64
dtypes: float64(20), object(1)
memory usage: 247.1+ KB

In [ ]:
train.describe()

           ndvi_ne      ndvi_nw  ...  station_min_temp_c  station_precip_mm
count  1262.000000  1404.000000  ...         1442.000000        1434.000000
mean      0.142294     0.130553  ...           22.102150          39.326360
std       0.140531     0.119999  ...            1.574066          47.455314
min      -0.406250    -0.456100  ...           14.700000           0.000000
25%       0.044950     0.049217  ...           21.100000           8.700000
50%       0.128817     0.121429  ...           22.200000          23.850000
75%       0.248483     0.216600  ...           23.300000          53.900000
max       0.508357     0.454429  ...           25.600000         543.300000

[8 rows x 20 columns]

In [ ]:
#valores perdidos
pd.isnull(train).any()

week_start_date                          False
ndvi_ne                                   True
ndvi_nw                                   True
ndvi_se                                   True
ndvi_sw                                   True
precipitation_amt_mm                      True
reanalysis_air_temp_k                     True
reanalysis_avg_temp_k                     True
reanalysis_dew_point_temp_k               True
reanalysis_max_air_temp_k                 True
reanalysis_min_air_temp_k                 True
reanalysis_precip_amt_kg_per_m2           True
reanalysis_relative_humidity_percent      True
reanalysis_sat_precip_amt_mm              True
reanalysis_specific_humidity_g_per_kg     True
reanalysis_tdtr_k                         True
station_avg_temp_c                        True
station_diur_temp_rng_c                   True
station_max_temp_c                        True
station_min_temp_c                        True
station_precip_mm                         True
dtype: bool

In [ ]:
#Total de valores perdidos por columna
train.isnull().sum()

week_start_date                            0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
dtype: int64

In [ ]:
#Metodo fillna, asigna el valor previo o el ultimo valor valido
train.fillna(method='ffill', inplace=True)